<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
</head>
<body>
    
<h1>{{pageTitle}}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cum odit expedita deserunt officia facilis dignissimos nostrum nam unde nulla pariatur odio, perferendis eum aperiam omnis ut laboriosam quam illum.</p>
<input type="text" id="example">
<button id="action">Klik</button>
<p id="text"></p>
<a href="./subpage">Klik</a>


<script src="../js/func.js"></script>
</body>
</html>